/* =============================================================================
	Header
============================================================================= */
header {
	position: relative;
	z-index: 999;
  text-align: center;
  padding: 40px 0px;
  h1 {
    letter-spacing: 2px;
  }
}