{% extends "layout.html" %}
{% block body %}

<!-- BEGIN .primary-container -->
<div class="primary-container">
  <!-- BEGIN .activity-container -->
  <div class="activity-container">
    <form action="{{ url_for('log_activity') }}" method=post class=log_activity>

      <!-- BEGIN .row-1 -->
      <div class="row-1">

        <select name="observer">
          <option value="">Choose Observer</option>
          {% for observer in observers %}
          <option value="{{ observer.observerid }}"> {{ observer.observername }}</option>
          {% endfor %}
        </select>

        <select name="activity">
          <option value="">Choose Activity</option>
          {% for activity in activities %}
          <option value="{{ activity.activityid }}"> {{ activity.activityname }}</option>
          {% endfor %}
        </select>

        <input placeholder="Length" type=text name=length>
      </div>
      <!-- END .row-1 -->
      <!-- BEGIN .row-2 -->
      <div class="row-2">
        <input placeholder="Notes" type=text name=notes>
        <input type=submit value=Submit>
      </div>
      <!-- END .row-2 -->
    </form>
  </div>
  <!-- END .activity-container -->
  <!-- BEGIN .view-container -->
  <div class="view-container">

    <table>
      <thead>
        <tr>
          <th class="title title-observer">Witness</th>
          <th class="title title-activity">Activity</th>
          <th class="title title-notes">Notes</th>
          <th class="title title-date">Date/Time</th>
          <th class="title title-length">Length</th>
        </tr> 
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <td class="entry entry-observer">{{ entry.observer|safe }}</td>

          <td class="entry entry-activity">{{ entry.activity|safe }}</td>

          <td class="entry entry-notes">{{ entry.notes|safe }}</td>

          <td class="entry entry-date">{{ entry.date|safe }} {{ entry.time|safe }}</td>

          <td class="entry entry-length">{{ entry.length|safe }}</td>
        </tr>
        {% else %}
        <p>Unbelievable.  No entries here so far.</p>
        {% endfor %}
      </tbody>
    </table>

    </div>
    <!-- END .view-container -->
    
  </div>
  <!-- END .primary-container -->
  {% endblock %}