{% extends "layout.html" %}
{% block body %}

<!-- BEGIN .primary-container -->
<div class="primary-container">
  <!-- BEGIN .activity-container -->
  <div class="activity-container">
    <form action="{{ url_for('log_activity') }}" method=post class=log_activity>

      <!-- BEGIN .select-container -->
      <div class="select-container">
        
        <select name="observer">
          <option value="">Choose Observer</option>
          {% for observer in observers %}
          <option value="{{ observer.observerid }}"> {{ observer.observername }}</option>
          {% endfor %}
        </select>

        <select name="activity">
          <option value="">Choose Activity</option>
          {% for activity in activities %}
          <option value="{{ activity.activityid }}"> {{ activity.activityname }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- END .select-container -->
      <!-- BEGIN .input-container -->
      <div class="input-container">
        

        <input placeholder="Length" type=text name=length>

        <input placeholder="Notes" type=text name=notes>
        <input type=submit value=Submit>
      </div>
      <!-- END .input-container -->
    </form>
  </div>
  <!-- END .activity-container -->
  <!-- BEGIN .view-container -->
  <div class="view-container">
    
    <ul class=entries>
      {% for entry in entries %}
      <li>
        <!-- BEGIN .observer -->
        <div class="entry-observer">
          {{ entry.observer|safe }} 
        </div>
        <!-- END .observer -->
        <!-- BEGIN .activity -->
        <div class="entry-activity">
          {{ entry.activity|safe }}
        </div>
        <!-- END .activity --> 
        <!-- BEGIN .notes -->
        <div class="entry-notes">
          {{ entry.notes|safe }}
        </div>
        <!-- END .notes -->
        <!-- BEGIN .date -->
        <div class="entry-date">
          {{ entry.date|safe }} {{ entry.time|safe }} {{ entry.length|safe }}
        </div>
        <!-- END .date -->

      </li>
      {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
      </ul>
    </div>
    <!-- END .view-container -->
    
  </div>
  <!-- END .primary-container -->
  {% endblock %}