{% extends "layout.html" %}
  {% block body %}

  <!-- BEGIN admin-container -->
  <div class="admin-container">
    

<form action="{{ url_for('add_user') }}" method=post class=add-user>
      <dl>
        <!--  <dt>Add User: </dt> -->
        <dd><input placeholder="Add User" type=text name=username>
        <input type=submit value=Submit>
          </dd>
      </dl>
    </form>
<form action="{{ url_for('add_activity') }}" method=post class=add-activity>
      <dl>
  <!--       <dt>Add Activity Type: </dt> -->
        <dd><input placeholder="Add Activity" type=text name=activityType>
        <input type=submit value=Submit> </dd>

      </dl>
    </form>

<form action="{{ url_for('delete_acts') }}" method=post class=delete_act>
      <dl>
      <!--    <dt>Remove Activity Entry (ID): </dt> -->
        <dd><input placeholder="Remove Activity" type=text name=activityid>
        <input type=submit value=Submit>
          </dd>
      </dl>
</form>

<ul class=entries>
  {% for entry in del_entries %}
    <li>{{ entry.id|safe }} {{ entry.activitydescription|safe }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>

  </div>
  <!-- END admin-container -->

{% endblock %}