<!doctype html>
<title>HarvTrack</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
<header>
  <!-- BEGIN .wrap -->
  <div class="wrap">
    <h1>HarvTrack</h1>
  </div>
  <!-- END .wrap -->
</header>
<main>
<!-- BEGIN .wrap -->
<div class="wrap">
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}
  </div>
  <!-- END .wrap -->
</main>

