<!doctype html>
<title>HarvTrack</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- BEGIN .site-container -->
<div class="site-container">
<header>
  <!-- BEGIN .wrap -->
  <div class="wrap">
    <h1>HarvTrack</h1>
  </div>
  <!-- END .wrap -->
</header>
<main>
<!-- BEGIN .wrap -->
<div class="wrap">
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}
  </div>
  <!-- END .wrap -->
</main> 
</div>
<!-- END .site-container -->

<script src="{{ url_for('static', filename='site.min.js') }}"></script>
