/* =============================================================================
	Activity layout
============================================================================= */
body {
  background-image: url('../../static/graphics/harv3.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  .site-container {
    overflow: scroll;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../../static/graphics/layout/bg.png');
    z-index: 0;
  }
  main {
    position: relative;
  }
  .primary-container {
    // background: rgba($black, 0.45);
    // padding: 30px 20px;
    // margin: 0px 40px;
  }
  .activity-container {
    background: rgba($black, 0.45);
    padding: 30px 20px;
    margin: 10px 40px 0px 40px;
    form {

    }
    .row-1 {
      display: flex;
      flex-wrap: wrap;
      select, input {
        flex: 1;
      }
      @include xsmall-down {
        flex-direction: column;
      }
    }
    .row-2 {
      display: flex;
      flex-wrap: wrap;
      input {
        flex: 1;
      }
      @include xsmall-down {
        flex-direction: column;
      }
    }
  }
  .view-container {
       margin: 35px 10px 20px 10px;
       font-size: 16px;
       font-family: $font-family-2;
       letter-spacing: 1px;
       max-width: 100%;
       display: flex;
       justify-content: center;
       // border: 3px solid $white;
       table {
           border-collapse: collapse;
           width: 90%;
       }
       thead {
        background: $black;
        @include small-down {
          display: none;
        }
       }
       th {
        text-transform: uppercase;
        color: $yellow;
        padding: 12px 8px;
        margin: 0;
        text-align: left;
        @include font(18,26,$font-weight-bold);
        &:hover {
          cursor: pointer;
        }
       }
       tr {
        @include small-down {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        align-items: flex-end;
        }
       }
       tr:nth-child(odd) {
       background: rgba($black, 0.3);
       }
       tr:nth-child(even) {
        background: rgba($black, 0.8);
       }
       td {
        padding: 8px;
        @include font(14,20,$font-weight-normal);
        position: relative;
        @include small-down {
        width: 100%;
        text-align: right;          
      }
        &:before {
          position: absolute;
              top: 6px;
              left: 25px;
              width: 45%;
              text-align: left;
              padding-right: 10px;
              white-space: nowrap;
              color: $yellow;
              @include medium-up {
                display: none;
              }
        }

       }
       td.entry-observer {
        &:before {
          content: "Witness";
        }
       }
       td.entry-activity {
        &:before {
          content: "Activity";
        }
       }
       td.entry-notes {
        &:before {
          content: "Notes";
        }
       }
       td.entry-date {
        &:before {
          content: "Date/Time";
        }
       }
       td.entry-length {
        &:before {
          content: "Length";
        }
       }
  }
}

