/* =============================================================================
	Activity layout
============================================================================= */
body {
  background-image: url('../../static/graphics/harv3.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../../static/graphics/layout/bg.png');
    z-index: 0;
  }
  main {
    position: relative;
  }
  .primary-container {
    background: rgba($black, 0.45);
    padding: 30px 20px;
    margin: 0px 40px;
  }
  .activity-container {
    form {

    }
    .select-container {
      display: flex;
      select {
        flex: 1;
      }
    }
    .input-container {
      display: flex;
      input {
        flex: 1;
      }
    }
  }
  .view-container {}
}

